 <section class="login flex justify-center pt-24">

    <div class="w-full max-w-xs">
        

          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
              User
            </label>
            <p  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" > <%= user.name %> </p>
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" >
              Email
            </label>
            <p class="shadow appearance-none border w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"><%= user.email %></p> 
           
          </div>
          
        </form>
        <p class="text-center text-gray-500 text-xs">
          &copy;2021. All rights reserved.
        </p>
      </div>


</section>

 